.color-valen{ 
background-color:  #F9E79F;

color: yellowgreen;}
.color-mates{
background-color:lightblue;
}

.color-FiQ{
    background-color:lightskyblue;
   color:white
   }

    .color-HISTORIA{
        background-color:greenyellow;
        }
 .color-bio{
background-color:lightseagreen;
            }

 .color-ing{
     background-color:lightcoral;
     color:white
   }
  .color-info{
    background-color: lightsalmon;
    color:white
   }

 .color-caste{
    background-color: burlywood;
 }
 .color-oing{
    background-color: pink;
 }
 .color-ef{
    background-color: cornsilk;
    }
    .color-tuto{
        background-color: cyan;
        color: red
      }

  .color-pat{
      background-color: darkmagenta;
      color: darkorange;
 }
 .color-dia{
   color: fuchsia;
   background-color:plum;
}
.color-horario{
   background-color: palevioletred;
   color: pink;
}
.color-horas{
   background-color: chartreuse;
   color:green;
}